@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat');
h1,h2,h3,h4,h5,h6,p,i,b,li,a{
    font-family: 'Montserrat', sans-serif;
}
img{
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
body{
    width: 100%;
    background: #081018;
}
main{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 67px 0 0 70px;
    height: 100vh;
    z-index: -2;
}
.content{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    z-index: -2;
    padding: 138px 0 0 70px;
}

.text_overflow{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.white_text{color: #ffffff}