header,nav{
    background: #060606;
    position: fixed;
}
/* Header */
.align_center, .header_panel > div{
    display: flex;
    align-items: center;
}
header{
    height: 68px;
    width: 100%;
    padding: 15px 20px;
    justify-content: space-between;
}
.header_logo{
    cursor: pointer;
    color: #ffffff;
    font-size: 25px;
}
.header_logo b{
    color: rgba(255,21,34,0.79);
}
.search, .notification, .user_panel{
    cursor: pointer;
}
.search{
    margin-right: 30px;
}
.notification{
    position: relative;
}
.icon_header{
    width: 25px;
}
.ball{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background: #2196f3;
    border: 1px solid #2b2d3c;
}
.user_panel{ margin-left: 20px }
.user_icon{
    width: 35px;
    padding: 2px;
    border: 1px solid #2195f2;
    border-radius: 50%;
    margin-right: 5px;
}
.arrow_icon{
    width: 20px;
}
/* Navigation */
nav{
    top: 68px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav a{
    padding: 20px;
    height: 72px;
}
nav a:hover{
    background: #55AAFF;
}
nav a img{
    width: 30px;
}
