.table_content{
    overflow-y: scroll;
    padding: 163px 20px 0 90px;
}
.task_table{
    width: 100%;
}
.position_all{
    width: 100%;
    padding: 160px 20px 0 90px;
    position: relative;
}
.line_card{
    width: 100%;
    border-radius: 0 10px 10px 0;
    padding: 20px;
    margin-bottom: 20px;
}
